extends ../../layouts/layout.pug

block content
  .section--primary#content
    .container
      h1 Petition New Motorway Bill

  section
    .container
      h2 Who is submitting this petition?
      +form(id='submitterType' action='page04-1.html')
        +fieldset
          ol.list--block
            li
              .list--details
                +input('radio', 'Individual', 'submitter-type', 'ind')(data-route='page04-1.html', checked)
                p You are submitting a petition for yourself.
            li
              .list--details
                +input('radio', 'Group of individuals', 'submitter-type', 'grp')(data-route='page04-2.html')
                p You are submitting a petition for a group of people.
            li
              .list--details
                +input('radio', 'Organisation', 'submitter-type', 'org')(data-route='page04-3.html')
                p You are submitting a petition for an organisation.
            li
              .list--details
                +input('radio', 'Representative / Agent', 'submitter-type', 'agt')(data-route='page03.html')
                p You are submitting a petition on behalf of someone else.

        +button('Next', 'btn--primary')
      br
      p < #[+link('page01.html', 'Back')]
