extends ../../layouts/layout.pug

block content
  #content.section--primary
    .container
      h1 
        span Thank you
        span.sr-only .
        span.context The advertising industry inquiry

  section
    .container
      h2 Inquiry updates
      p For news and updates on the inquiry, visit the #[+link('page01.html', 'advertising industry inquiry page')].
