extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 Joint Committee on Human Rights - committee members

  section
    .container
      h2 Committee Chair
      ol.list--block
        li
          .card
            figure.avatar--round
              a(href="#" tabindex="-1")
                picture
                  img(src="https://api.parliament.uk/Staging/photo/ZY0Mx1bp.jpeg?crop=CU_1:1&width=186&quality=80" alt="Ms Harriet Harman")
            .card__details
              h3
                a(href="#") Ms Harriet Harman
              p MP for Camberwell and Peckham
              p Labour

  section
    .container
      h2 Members
      ol.list--block
        li
          .card
            figure.avatar--round
              a(href="#" tabindex="-1")
                picture
                  img(src="https://api.parliament.uk/Live/photo/rOFP6feZ.jpeg?crop=CU_1:1&width=186&quality=80" alt="Fiona Bruce")
            .card__details
              h3
                a(href="#") Fiona Bruce
              p MP for Congleton
              p Conservative
        li
          .card
            figure.avatar--round
              a(href="#" tabindex="-1")
                picture
                  img(src="https://api.parliament.uk/Live/photo/c4aDmpMV.jpeg?crop=CU_1:1&width=186&quality=80" alt="Ms Karen Buck")
            .card__details
              h3
                a(href="#") Ms Karen Buck
              p MP for Westminster North
              p Labour
        li
          .card
            figure.avatar--round
              a(href="#" tabindex="-1")
                picture
                  img(src="https://api.parliament.uk/Live/photo/mtMsc1vM.jpeg?crop=CU_1:1&width=186&quality=80" alt="Alex Burghart")
            .card__details
              h3
                a(href="#") Alex Burghart
              p MP for Brentwood and Ongar
              p Conservative
        li
          .card
            figure.avatar--round
              a(href="#" tabindex="-1")
                picture
                  img(src="/images/placeholder_members_image.png" alt="Joanna Cherry")
            .card__details
              h3
                a(href="#") Joanna Cherry
              p MP for Edinburgh South West
              p Scottish National Party
        li
          .card
            figure.avatar--round
              a(href="#" tabindex="-1")
                picture
                  img(src="/images/placeholder_members_image.png" alt="Baroness Hamwee")
            .card__details
              h3
                a(href="#") Baroness Hamwee
              p Member of the House of Lords
              p Liberal Democrat

  section
    .container
      h2 Lay members
      ol.list--block
        li
          .card
            .card__details
              h3
                a(href="#") Name
        li
          .card
            .card__details
              h3
                a(href="#") Name
