extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 Objecting to a hybrid bill

      p Hybrid Bills mix the characteristics of Public and Private Bills. The changes to the law proposed by a Hybrid Bill would affect the general public but would also have a significant impact for specific individuals or groups. The Bill passed concerning the construction of the Channel Tunnel was an example of a Hybrid Bill.

  section
    .container
      h2 Recent Hybrid Bills

      p Hybrid Bills often propose works of national importance but in a specific area of the UK. Examples are the Channel Tunnel Bills passed in the 1970s and 1980s that affected the South East of the UK, and the Crossrail Bill to build a new east to west rail link through central London passed in 2008.

      p The High Speed Rail (West Midlands - Crewe) Bill 2017-19 is currently passing through Parliament.

      p
        +link('http://services.parliament.uk/bills/2017-19/highspeedrailwestmidlandscrewe.html', 'High Speed Rail (West Midlands - Crewe) Bill 2017-19')

  section
    .container
      h2 Who decides what is a Hybrid Bill?

      p The Public Bill Offices decide whether a Bill falls into the Hybrid category. Both Houses debate these Bills and they go through a longer parliamentary process than Public Bills.

  section
   .container
      h2 Petitioning against Hybrid Bills
      
      p Opponents to Hybrid Bills may submit petitions and certain individuals and groups can state their case before a select committee.

      .section--major
        +link('page01.html', 'Petition the HS2 Bill')(class='btn--primary')
  
