extends ../../layouts/layout-beta.pug

block content
  #content.hero.theme--grey-4
    .container
      h1 Writing your petition
      h2.typography--light Step 1 of 5

  section
    .container
      h2.typography--light To write your petition:

      ol.list--number
        li download and save the petition template to your device
        li complete the petition template
        li save your completed template
        
      p We’ll ask you to upload your completed template at step 4
      
      ol.list--block
        li
          figure
            picture
              img(src='https://cdn4.iconfinder.com/data/icons/48-bubbles/48/12.File-64.png', alt='Document')
          .list--details
            h3 Petition template
            p .docx
            +link('../../documents/bill-petition-template.docx', 'Download template as Word document')(class='btn--primary btn--download') 

  section
    .container
      h2.typography--light Have you completed your petition template?
      +form(action='page06.html')    
        +fieldset
          .input-group__inline
            +input('radio', 'Yes', 'country-check-ind', 'country-uk')
          .input-group__inline
            +input('radio', 'No', 'country-check-ind', 'country-row')(checked)
            
      .status--highlight.theme--caution
        p Complete your petition template before you continue
      
      br
      .box--holder__bordered      
        p #[+buttonLink('page04.html', 'Next', 'btn--primary')]
        p #[+link('page01.html', 'Back')]
        
      br
      .block
        h3 Help and support
        p For more information e-mail #[+link('#', 'petition@parliament.uk')] or phone 020 7219 3000
       
