extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 Thank you for your petition

  section
    .container
      br
      .status--highlight
        p.lead Your petition reference number is <b>HB123XYZ</b>

        p This reference number and the information on this page will be sent to test@gmail.com in the next 15 minutes.

      h2 What happens next
      .track--alternative

        h3.typography--light We’ll email you within 14 days about how to pay the &pound;20 admin fee.
        
        h3.typography--light We will publish your petition on our website. This will include your name and address.

        h3.typography--light We’ll send your petition to HS2 Ltd, who may contact you to discuss it. HS2 Ltd can challenge your petition if they don’t believe you are affected by the bill.

        h3.typography--light You will usually be invited to a committee hearing on your petition. Hearings are scheduled for spring 2018.

    section
      .container
        h2 Withdrawing your petition

        p You can withdraw your petition by emailing us at #[+link('#', 'prbohoc@parliament.uk')].

        p Anyone named on a petition can withdraw from the petition, leaving the remaining petitioners to continue with it.

    section
      .container
        h2 Change contact information

        p If you want to change the main contact for your petition call us on 020 7219 3250.
