extends ../../layouts/layout-beta.pug

block content
  #content.hero.theme--grey-4
    .container
      h1 Writing your petition - online
        span.sr-only.
        span Object to the High Speed Rail (West Midlands – Crewe) Bill

      h2.typography--light Step 1 of 5

  section
    .container
      h2 To write your petition

      ol
        li download and save the petition template to your device
        li complete the petition template
        li save your completed template
        li click the link at the end of your template to continue the process
        
      p We’ll ask you to upload your completed template later.
      
      ol.list--pipe__deep
        li
          figure.svg--icon
            include ../../images/file--doc.svg
          .list--details
            h3 Petition template
            +buttonLink('../../documents/bill-petition-template.doc', 'Download template as Word document', 'btn--primary btn--icon')
              include ../../images/download-white.svg
            p If you need a different format, email #[+link('mailto:prbohoc@parliament.uk', 'prbohoc@parliament.uk')] or phone 020 7219 3250.

  section#complete-petition.section--major
    .container
      h2.typography--light Have you completed your petition template?
      +form(action='page04.html')
        .block--border__bottom
          +fieldset
            .input-group__inline
              +input('radio', 'Yes', 'petition-check', 'petition-check-yes')
            .input-group__inline
              +input('radio', 'No', 'petition-check', 'petition-check-no')(checked)
              
          .status--highlight.theme--caution#petitionCheckStatus
            p Complete your petition template before you continue
        
        +button('Next', 'btn--primary', 'submit')(id="petition-check-button")
      
      p #[+link('page01.html', 'Back')]
        
      br
      .block.accent
        h3 Help and support
        p For more information e-mail #[+link('mailto:prbohoc@parliament.uk', 'prbohoc@parliament.uk')] or phone 020 7219 3250
       
