extends ../../layouts/layout-beta.pug

block content
  #content.hero.theme--grey-4
    .container
      h1 Who are you submitting a petition for?
      p.lead Step 1 of 2

  section.section--major
    .container
      +form(id='submitterType' action='page02-1.html')
        +fieldset
          ol.list--block
            li
              .list--details
                +input('radio', 'Individual', 'submitter-type', 'ind')(data-route='page02-1.html', checked)
                p.radio--desc You are submitting a petition for one person.
            li
              .list--details
                +input('radio', 'Group of individuals', 'submitter-type', 'grp')(data-route='page02-2.html')
                p.radio--desc You are submitting a petition for a group of people.

          ol.list--block
            li
              .list--details
                +input('radio', 'Organisation', 'submitter-type', 'org')(data-route='page02-3.html')
                p.radio--desc You are submitting a petition for a business or organisation.
            li
              .list--details
                +input('radio', 'Group of organisations', 'submitter-type', 'orgs')(data-route='page02-4.html')
                p.radio--desc You are submitting a petition for a group of businesses or organisations.
        br
        .box--holder__bordered
          +button('Submit', 'btn--primary', 'submit', '')

          p #[+link('page01.html', 'Back')]
