extends ../../layouts/layout-beta.pug

block content
  #content.hero.theme--grey-4
    .container
      h1 Petition online
        span.sr-only.
        span Object to the High Speed Rail (West Midlands – Crewe) Bill

      h2.typography--light Step 2 of 5

  section
    .container
      h2.typography--light Who are you submitting a petition for?
      +form(id='submitterType' action='page05-1.html')
        +fieldset
          .block--border__bottom
            ol.list--block
              li
                .list--details
                  +input('radio', 'Individual', 'submitter-type', 'ind')(data-route='page05-1.html', checked)
                  p.radio--desc You are submitting a petition for one person.
              li
                .list--details
                  +input('radio', 'Group of individuals', 'submitter-type', 'grp')(data-route='page05-2.html')
                  p.radio--desc You are submitting a petition for a group of people.

            ol.list--block
              li
                .list--details
                  +input('radio', 'Organisation', 'submitter-type', 'org')(data-route='page05-3.html')
                  p.radio--desc You are submitting a petition for a business or organisation.
              li
                .list--details
                  +input('radio', 'Group of organisations', 'submitter-type', 'orgs')(data-route='page05-4.html')
                  p.radio--desc You are submitting a petition for a group of businesses or organisations.

        +button('Next', 'btn--primary', 'submit')

        p #[+link('page03.html', 'Back')]
