extends ../../layouts/layout-beta.pug

block content
  #content.hero.theme--grey-4
    .container
      h1 Terms and conditions
      h2.typography--light Step 5 of 5

  section
    .container
        h2 Personal information

        p A copy of this petition and information provided in the online form will be:

        ul.list--bullet
          li kept in the #[+link('#', 'Private Bill Office')] and as a record in the #[+link('#', 'Parliamentary Archives')].

          li sent to the #[+link('#', 'Department for Transport')] and #[+link('#', 'HS2 Ltd')] after the petition has been received by the Private Bill Office.

        p We will publish your petition on UK Parliament’s website. This will include your name and address.

        p The personal information you have provided may be kept in a database by both Private Bill Offices.

  section
    .container
        h2 Communications
              
        p Private Bill Office staff may call or email any of the people named in the petition to verify the information provided. 

        p Communications may be stored in databases to keep track of information you have given or received. This information may be shared between the Private Bill Offices.

  section
    .container
      .block--border__bottom
        h2 Consent and confirmation

        p The information you have provided in the petition and online form is accurate.
        
        p If you have filled in the form on behalf of an individual, a group of individuals, an organisation, or a group of organisations, you have been authorised to do so.

      +buttonLink('page08.html', 'I agree - send petition', 'btn--primary')
