extends ../../layouts/layout-beta.pug

block content
  #content.hero.theme--grey-4
    .container
      h1 Writing your petition - group of individuals
      h2.typography--light Step 2 of 2

  section
    .container
      h2.typography--light Title Required
      p To write your petition download and complete the petition template.
      p You can send your completed version to us by email, post or in person.
      
      h3 Send by email
      p Email your completed petition template to #[+link('mailto:prbohoc@parliament.uk', 'prbohoc@parliament.uk')].
      
      h3 Send by post
      p Post your completed petition template to Hybrid Bills Office, Houses of Parliament, London, SW1A 0AA.
      
      h3 Send in person
      p Call 020 7219 3000 to arrange a time to deliver your completed petition template.

      .section--major
        +buttonLink('../../documents/bill-petition-template.docx', 'Download Word document', 'btn--primary btn--icon', '')
          include ../../images/download-white.svg

        p #[+link('page02.html', 'Back')]
