// ***** User Research Page Specifics *****

.image--postit, .image--postit img {
  display: block;
  background-color: transparent;
  width: 150px;
  @include media($large) {
    width: 350px;
  }
}
