// ***** User Research Page Specifics *****

.image--postit, .image--postit img {
  display: block;
  background-color: transparent;
  width: 150px;
  @include media($large) {
    width: 350px;
  }
}

// Form error messaging

.message--error {
  color: $warning--dark;
  + input,
  + textarea {
    border: solid 2px $warning--dark;
    box-shadow: none;
    &:focus {
      box-shadow: 0 0 0 3px $warning--dark;
    }
  }
  + select {
    outline: solid 2px $warning--dark;
    outline-offset: -2px;
    box-shadow: none;
    &:focus {
      outline: 5px solid $warning--dark;
      outline-offset: -2px;
    }
  }
  + input {
    &[type="checkbox"]:checked + label:before,
    &[type="checkbox"]:not(:checked) + label:before {
      border: solid 2px $warning--dark;
      box-shadow: none;
    }
    &[type="checkbox"]:focus + label::before {
      box-shadow: 0 0 0 3px $warning--dark;
    }
  }
}

// Hero & Heading tweaks

.hero {
  padding-top: 48px;
  h1:after {
    display: none;
  }
}

h3 {
  margin-bottom: $base-spacing-unit-small;
}

// Input wrappers

form > :last-child {
  border-bottom: none;
}

.input-wrapper, .input-group__extended {
  margin-bottom: $base-spacing-unit-extra-large;
  border-bottom: solid 1px $grey-3;
  & > :last-child {
    margin-bottom: $base-spacing-unit-extra-large;
  }
}

.input-group__inline {
  margin-bottom: $base-spacing-unit-small;
}

legend {
  margin-bottom: $base-spacing-unit-small;
}

// Input indentations

.block-cv {
  margin-top: ($base-spacing-unit-medium + $base-spacing-unit-small);
}

.list-cv > li {
  margin-bottom: $base-spacing-unit-tiny;
}

.radiv-cv {
  padding-bottom: $base-spacing-unit-medium;
  border-bottom: solid 1px $grey-3;
}

.indent-cv {
  padding-left: (($base-spacing-unit-medium * 2) + 2px);
  padding-bottom: $base-spacing-unit-medium;
}

// Link styling

.link--remove-cv {
  color: $warning--dark;
  cursor: pointer;
  &:hover {
    color: $warning;
  }
}

// Button styling (double padding + lead font size)

.btn-cv {
  padding: 8px 20px;
  @include fontsize(24);
  line-height: 1.15;
}

// Theme success dark

.theme--success-dark {
  text-align: center;
  background-color: $success--light;
  border-top: solid 6px $mint;
}

// File uploader

.uploader-container {
  padding: $base-spacing-unit-medium;
  margin-bottom: $base-spacing-unit-extra-large;
}

.normal-cv {
  border: dashed 2px $link;
}

.success-cv {
  border: solid 2px $success--dark;
}

[data-file-upload="newstatus"] {
  display: none;
}

.theme--warning, .theme--success {
  display: block;
}

[data-file-upload="upload"] svg {
  [data-icon="uploaded"] {
    display: none;
  }
}

[data-file-upload="uploaded"] svg {
  [data-icon="uploaded"] {
    display: block;
  }
  [data-icon="upload"] {
    display: none;
  }
}

// Check answers alignment

.container-cv {
  display: flex;
  & h2, p {
    margin-bottom: 0;
  }
  & :first-child {
    width: 30%;
  }
  & :nth-child(2) {
    width: 55%;
  }
  & :last-child {
    width: 15%;
    text-align: right;
  }
}
