h3 {
  margin-bottom: $base-spacing-unit-small;
}

ol > li > ul > li {
  padding-top: $base-spacing-unit-tiny;
  list-style: none;
}

.list--details > h3 {
  font-weight: bold;
}

.list--pipe li {
  .image--postit, .image--postit img {
    background-color: transparent;
    width: 150px;
    @include media($desktop) {
      width: 350px;
    }
  }
}

footer {
  display: none;
}

input[type="checkbox"], input[type="radio"] {
  transform: scale(1.5);
  outline-offset: 3px;
}

input[type="checkbox"] {
    position: absolute;
}

input[type="checkbox"] ~ label {
    padding-left: $base-spacing-unit-small;
    display:inline-block;
}

input[type="checkbox"] + label {
  padding-bottom: 0;
  margin-left: $base-spacing-unit-tiny;
}

.status--highlight input[type="checkbox"] {
  margin-top: $base-spacing-unit;
}

input[type="radio"] + label {
  padding-bottom: $base-spacing-unit;
  margin-left: $base-spacing-unit-tiny;
  font-weight: bold;
}

input[type="text"] {
  margin-bottom: $base-spacing-unit-tiny;
}
