extends ../../layouts/layout.pug

block content
  #content.hero.theme--grey-4
    .container
      h1
        span Upload your evidence
        span.sr-only .
        span.context The advertising industry inquiry

      p #[+link('#', 'Back to previous page')(onclick='goBack()')]

  section
    .container
      h2 Your uploaded file must

      ul
        li be less than 25MB
        li be a single Word, ODT or RTF document
        li not contain logos

      +form(action='page10.html')
        .input-group__extended
          .card.uploader-container.normal-cv#uploader-container
            figure.svg--icon(data-file-upload='upload')
                include ../../icons/upload-status.svg
            .card__details
              h3 Drag and drop your file here <b>or</b>
              input(name="file-uploader" id="fileUpload" data-file-upload="newbutton" data-file-size="25214400" required="" data-error="Please upload your file" type="file")
              label(class="btn--ghost--primary" for="fileUpload") Upload a file from this computer

          .status--highlight(data-file-upload='newstatus')

        +button('Continue', 'btn--primary btn-cv', 'submit')(id='file-upload-check')

  section.section--minor
    .container
      .block.accent--mint
        h2 Help and support
        p If you need help submitting evidence, email the Communications Committee (#[+link('mailto:holcommunications@parliament.uk', 'holcommunications@parliament.uk')]) or phone #[+link('tel:02072198662', '020 7219 8662')].
