extends ../layouts/layout.pug

block content
  #content.hero.theme--white
    .container
      h1 Committee prototypes
      p Static HTML prototyping of Parliamentary committee web services.

  section
    .container
      h2 Current committee prototypes
      ul
        li #[+link('/templates/committee-evidence-submission-v3/index.html', 'Committee evidence submission (Version 3)')]
        li #[+link('/templates/committee-pages-v3/index.html', 'Committee & membership pages (Version 3)')]

  section
    .container
      h2 User research guidance
      ul
        li #[+link('/templates/user-research-guidance/note-taking.html', 'Note taking guidance')]

  section
    .container
      h2 Archived Committee prototypes
      ul
        li #[+link('/templates/committee-evidence-submission-v1/index.html', 'Committee evidence submission (Version 1) (July 2017)')]
        li #[+link('/templates/committee-evidence-submission-v2/index.html', 'Committee evidence submission (Version 2)')]
        li #[+link('/templates/committee-pages-v1/index.html', 'Committee & membership pages (Version 1)')]
        li #[+link('/templates/committee-pages-v2/index.html', 'Committee & membership pages (Version 2)')]
        li #[+link('/templates/committee-activity-timeline/index.html', 'Committee activity timeline (June 2017)')]
