extends ../layouts/layout.pug

block content
  #content.hero.theme--white.accent--caution
    .container
      h1 Committee prototypes
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at felis malesuada, rhoncus justo non, hendrerit orci. Vivamus eu tellus sit amet metus blandit euismod in ut velit.
  
  section
    .container
      h2 Active prototypes
      ul
        li #[+link('/templates/petition-submission/page01.html', 'Petition Submission Prototype')]
