extends ../layouts/layout.pug

block content
  #content.hero.theme--white.accent--caution
    .container
      h1 Committee Prototypes
      ul
        li #[+link('templates/petition-submission/page01.html', 'Petition Submission Prototype')]
