extends ../layouts/layout.pug

block content
  #content.hero.theme--white.accent--caution
    .container
      h1 Committee prototypes
      p Static HTML prototyping of Parliamentary committee web services.
  
  section
    .container
      h2 Active prototypes
      ul
        li #[+link('/templates/petition-submission/page01.html', 'Bill Petition Submission Prototype')]
