extends ../layouts/layout.pug

block content
  #content.hero.theme--white.accent--caution
    .container
      h1 Committee prototypes
      p Static HTML prototyping of Parliamentary committee web services.
  
  section
    .container
      h2 Active prototypes
      ul
        li #[+link('/templates/petition-submission-v1/page01.html', 'Bill Petition Submission Prototype (Version 1)')]
        li #[+link('/templates/petition-submission-v2/page01.html', 'Bill Petition Submission Prototype (Version 2)')]
        li #[+link('/templates/petition-submission-v3/page01.html', 'Bill Petition Submission Prototype (Version 3)')]
        li #[+link('/templates/petition-submission-v2/note-taking.html', 'Some guidance on note taking')]
