extends ../layouts/layout.pug

block content
  #content.hero.theme--white.accent--caution
    .container
      h1 Committee prototypes
      p Static HTML prototyping of Parliamentary committee web services.

  section
    .container
      h2 Active prototypes
      ul.list--bullet
        li #[+link('/templates/petition-submission-v6/index.html', 'Hybrid bill petition submission (Version 6)')]

  section
    .container
      h2 User research guidance
      ul.list--bullet
        li #[+link('/templates/user-research-guidance/note-taking.html', 'Note Taking Guidance')]

  section
    .container
      h2 Archived prototypes
      ol.list--number
        li #[+link('/templates/petition-submission-v1/page01.html', 'Hybrid bill petition submission (Version 1)')]
        li #[+link('/templates/petition-submission-v2/page01.html', 'Hybrid bill petition submission (Version 2)')]
        li #[+link('/templates/petition-submission-v3/page01.html', 'Hybrid bill petition submission (Version 3)')]
        li #[+link('/templates/petition-submission-v4/page01.html', 'Hybrid bill petition submission (Version 4)')]
        li #[+link('/templates/petition-submission-v5/page01.html', 'Hybrid bill petition submission (Version 5)')]
