extends ../layouts/layout.pug

block content
  #content.hero.theme--white
    .container
      h1 Committee prototypes
      p Static HTML prototyping of Parliamentary committee web services.

  section
    .container
      h2 Committees prototypes
      ul.list--bullet
        li #[+link('/templates/committee-pages-v1/index.html', 'Committee & membership pages (Version 1)')]
        li #[+link('/templates/committee-pages-v2/index.html', 'Committee & membership pages (Version 2)')]

  section
    .container
      h2 Hybrid Bills prototypes
      ul.list--bullet
        li #[+link('/templates/petition-submission-v6/index.html', 'Hybrid bill petition submission (Version 6)')]

  section
    .container
      h2 User research guidance
      ul.list--bullet
        li #[+link('/templates/user-research-guidance/note-taking.html', 'Note Taking Guidance')]

  //-section
    .container
      h2 Archived prototypes
      ol.list--number
        li #[+link('/templates/petition-submission-v1/page01.html', 'Hybrid bill petition submission (Version 1)')]
        li #[+link('/templates/petition-submission-v2/page01.html', 'Hybrid bill petition submission (Version 2)')]
        li #[+link('/templates/petition-submission-v3/page01.html', 'Hybrid bill petition submission (Version 3)')]
        li #[+link('/templates/petition-submission-v4/page01.html', 'Hybrid bill petition submission (Version 4)')]
        li #[+link('/templates/petition-submission-v5/page01.html', 'Hybrid bill petition submission (Version 5)')]
