extends ../../layouts/layout-submission.pug

block content
  .status
    .sec_title Section 2: Who are you?
    .sec_number 2 of 5

  h1 Public Parks inquiry - send a submission

  form#user_type.user-type
    fieldset
      legend You are submitting as:
      .radio-holder
        input#individual(type='radio' name='who are you' onclick='userTypeInd();')
        label(for='individual') an individual
      br
      .radio-holder
        input#organisation(type='radio' name='who are you' onclick='userTypeOrg();')
        label(for='organisation') part of an organisation
    input.button(type='submit' value='Continue')

  br

  p
    a(href='evidence_1.html') back
  
  .divider-large
