extends ../../layouts/layout-submission.pug

block content
  .status
    .sec_title Section 4: Your submission
    .sec_number 4 of 5

  h1 Public Parks inquiry - send a submission

  h2 Your submission

  table
    tr
      th Title
      th Date
      th Type
      th Remove
    tr
      td My evidence
      td 04 Jul 2017
      td#eType
      td
        img(src='../../images/remove.png' width='15px' style='vertical-align:middle;')
        a(href='#') remove submission
    tr
      td.add_evidence(colspan='4')
        img(src='../../images/plus.png' width='15px' style='vertical-align:middle;')
        a(href='evidence_7.html') add another submission

  p.button
    a(href='evidence_11.html') Continue

  br

  p
    a(href='evidence_7.html') back

  .divider-large
