extends ../../layouts/layout-submission.pug

block content
  .status
    .sec_title Section 5: Review and send
    .sec_number 5 of 5

  h1 Public Parks inquiry - send a submission

  h2 Review and send your submission

  h3 About you

  p
    span.subtitle Name:
    |  Nick Day
  p
    span.subtitle Submitting as:
    span#uType
  p
    span.subtitle Email:
    |  nick@test.com
  p
    span.subtitle Phone:
    |  01234 567890
  p
    span.subtitle Post Code:
    |  ABC 123

  p.edit-details
    a(href='evidence_4.html') Edit

  h3 Your submission

  table
    tr
      th Title
      th Date
      th Type
    tr
      td My evidence
      td 04 Jul 2017
      td#eType

  p.edit-details
    a(href='evidence_9.html') Edit

  form(action='evidence_12.html')
    p Are you happy for your submission and name to be published?
    fieldset
      .radio-holder.small
        input#pyes(type='radio' name='privacy' value='0' onclick='privacyContent(this);')
        label(for='pyes') Yes
        input#pno(type='radio' name='privacy' value='1' onclick='privacyContent(this);')
        label(for='pno') No
        div
    #prv(style='display:none;')
      br
      fieldset
        .radio-holder
          input#partial(type='radio' name='evidence visibilty')
          label(for='partial') Publish the submission without my name
        br
        .radio-holder
          input#private(type='radio' name='evidence visibilty')
          label(for='private') Don&rsquo;t publish the submission or my name
      p
        b
          | It is the committee&apos;s decision whether or not to publish material submitted to the inquiry.
    br
    input.button(type='submit' value='Send my submission')

  br

  p
    a(href='evidence_10.html') back

  .divider-large
