extends ../../layouts/layout-submission.pug

block content
  h1 Public Parks inquiry - send a submission

  p The Communities and Local Government&nbsp;Committee is looking at public parks to examine the impact of reduced local authority budgets on these open spaces and consider concerns that their existence is under threat.

  h2 What&rsquo;s the inquiry looking into?

  p.highlight Your submission must relate to at least one of the following points

  .box-input
    ul
      li Who uses parks and open spaces, how often and for what
      li The contribution of parks to the health and well-being of communities
      li The impact of reductions in local authority budgets on parks
      li What the administrative status of parks should be in light of declining local authority resources for non-statutory services
      li How new and existing parks can best be supported
      li What additional or alternative funding is available and what scope is there for local authorities to generate revenue from park users
      li What the advantages and disadvantages are of other management models, such as privatisation, outsourcing or mutualisation

  form(action='evidence_form_2.html')
    h2 About you
    p You are submitting as:
    fieldset
      .radio-holder
        input#individual(type='radio' name='who are you' value='0' onclick='userContent(this);')
        label(for='individual') an individual
        input#organisation(type='radio' name='who are you' value='1' onclick='userContent(this);')
        label(for='organisation') part of an organisation
        div
    .divider
    label(for='inp_title') Title
    input#inp_title(type='text')
    br
    label(for='inp_fname') First name
    input#inp_fname(type='text')
    br
    label(for='inp_lname') Last name
    input#inp_lname(type='text')
    br
    label(for='inp_name') Email
    input#inp_email(type='text')
    br
    label(for='inp_name') Phone
    input#inp_phone(type='text')
    br
    label(for='inp_pcode') Postcode
    input#inp_pcode(type='text')
    br
    #org(style='display:none;')
      h2 About your organisation
      label(for='inp_title') Organisation name
      input#inp_orgname(type='text')
      br
      label(for='inp_fname') Your job title
      input#inp_jobtitle(type='text')
      br

    h2 Your submission

    h3 Submission guidelines

    p Each submission should:

    .box-input
      ul
        li State clearly who the submission is from, i.e. whether from yourself in a personal capacity or sent on behalf of an organisation, for example the submission could be headed &apos;Written evidence submitted by xxxxxx&apos;
        li Be concise - we recommend no more than 3,000 words in length, unless otherwise stated in the inquiry terms of reference
        li Begin with an executive summary in bullet point form of the main points made in the submission
        li Include a brief introduction about yourself/your organisation and your reason for submitting evidence
        li Have numbered paragraphs
        li Include any factual information you have to offer from which the committee might be able to draw conclusions, or which could be put to other witnesses for their reactions
        li Include any recommendations for action by the Government or others which you would like the committee to consider

    br

    fieldset
      .radio-holder
        input#write(type='radio' name='add evidence' value='0' onclick='evidenceContent(this);')
        label(for='write') Write your submission
        input#upload(type='radio' name='add evidence' value='1' onclick='evidenceContent(this);')
        label(for='upload') Upload your submission
    #wtn(style='display:none;')
      .box-input
        textarea
        img(src='../../images/wsiwig.png' width='100%' align='absbottom' alt='content editor')
    #upd(style='display:none;')
      .box
        p.title-link(onclick='showDocument();') browse your files
      br
      table#updoc(style='display:none;')
        tr
          th Title
          th Date
          th Type
          th Remove
        tr
          td My evidence
          td 04 Jul 2017
          td Word Document
          td
            img(src='../../images/remove.png' width='15px' style='vertical-align:middle;')
            a(href='#') remove submission

    br

    h3 Are you happy for your submission and name to be published?

    fieldset
      .radio-holder.small
        input#pyes(type='radio' name='privacy' value='0' onclick='privacyContent(this);')
        label(for='pyes') Yes
        input#pno(type='radio' name='privacy' value='1' onclick='privacyContent(this);')
        label(for='pno') No
        div
    #prv(style='display:none;')
      br
      fieldset
        .radio-holder
          input#partial(type='radio' name='evidence visibilty')
          label(for='partial') Publish the submission without my name
        br
        .radio-holder
          input#private(type='radio' name='evidence visibilty')
          label(for='private') Don&rsquo;t publish the submission or my name
      p
        b
          | It is the committee&apos;s decision whether or not to publish material submitted to the inquiry.
    br
    input.button(type='submit' value='Send my submission')

  .divider-large
