extends ../../layouts/layout-submission.pug

block content
  .status
    .sec_title Section 3: Contact details
    .sec_number 3 of 5

  h1 Public Parks inquiry - send a submission

  form(action='evidence_5.html')
    label(for='inp_title') Title
    input#inp_title(type='text')
    br
    label(for='inp_fname') First name
    input#inp_fname(type='text')
    br
    label(for='inp_lname') Last name
    input#inp_lname(type='text')
    br
    input.button(type='submit' value='Continue')

  br

  p
    a(href='evidence_2.html') back

  .divider-large
