extends ../../layouts/layout-submission.pug

block content
  .status
    .sec_title Section 1: Evidence Requirements
    .sec_number 1 of 5

  h1 Public Parks inquiry - send a submission

  p The Communities and Local Government&nbsp;Committee is looking at public parks to examine the impact of reduced local authority budgets on these open spaces and consider concerns that their existence is under threat.

  h2 What&rsquo;s the inquiry looking into?

  p.highlight Your submission must relate to at least one of the following points

  .box-input
    ul
      li Who uses parks and open spaces, how often and for what
      li The contribution of parks to the health and well-being of communities
      li The impact of reductions in local authority budgets on parks
      li What the administrative status of parks should be in light of declining local authority resources for non-statutory services
      li How new and existing parks can best be supported
      li What additional or alternative funding is available and what scope is there for local authorities to generate revenue from park users
      li What the advantages and disadvantages are of other management models, such as privatisation, outsourcing or mutualisation

  h2 Submission guidelines

  .box-input
    ul
      li State clearly who the submission is from, i.e. whether from yourself in a personal capacity or sent on behalf of an organisation, for example the submission could be headed &apos;Written evidence submitted by xxxxxx&apos;
      li Be concise - we recommend no more than 3,000 words in length, unless otherwise stated in the inquiry terms of reference
      li Begin with an executive summary in bullet point form of the main points made in the submission
      li Include a brief introduction about yourself/your organisation and your reason for submitting evidence
      li Have numbered paragraphs
      li Include any factual information you have to offer from which the committee might be able to draw conclusions, or which could be put to other witnesses for their reactions
      li Include any recommendations for action by the Government or others which you would like the committee to consider
  br

  p.button
    a(href='evidence_2.html') Continue

  .divider-large
