extends ../../layouts/layout-submission.pug

block content
  .status
    .sec_title Section 4: Your submission
    .sec_number 4 of 5

  h1 Public Parks inquiry - send a submission

  h2 Write your submission

  form(action='evidence_10.html')
    .box-input
      textarea
      img(src='../../images/wsiwig.png' width='100%' align='absbottom')
    br
    input.button(type='submit' value='Continue')

  br

  p
    a(href='evidence_7.html') back

  .divider-large
