extends ../../layouts/layout-submission.pug

block content
  h1 Thank you for your submission

  p The committee looks at all submissions made to the inquiry.  You will be emailed if your submission is published.

  h2 Updates

  p If you want email updates on this inquiry or the work of the committee choose from the options below.

  h3 Update me on:

  form(action='index.html')
    .check-holder.large
      input(type='checkbox' name='chk_aims' value='evidence')
      span.check-text other submissions made to the Public Parks inquiry
    br
    .check-holder.large
      input(type='checkbox' name='chk_aims' value='inquiry')
      span.check-text progress of the Public Parks inquiry
    br
    .check-holder.large
      input(type='checkbox' name='chk_aims' value='committee')
      span.check-text the Community and Local Government Committee&rsquo;s work
    br
    br
    input.button(type='submit' value='Finish')

  .divider-large
