extends ../../layouts/layout-submission.pug

block content
  <div class="status">
    <div class="sec_title">Section 3: Contact details</div>
    <div class="sec_number">3 of 5</div>
  </div>

  <h1>Public Parks inquiry - send a submission</h1>

  <form action="evidence_6.html">
    <label for="inp_name">Email</label>
    <input type="text" id="inp_email" />
    <br />
    <label for="inp_name">Phone</label>
    <input type="text" id="inp_phone" />
    <br />
    <input type="submit" value="Continue" class="button"/>
  </form>

  <br />
  <p>&nbsp;&lt;&nbsp;<a href="evidence_3.html">back</a><p>

  <div class="divider-large"></div>
