extends ../../layouts/layout-submission.pug

block content
  .status
    .sec_title Section 4: Your submission
    .sec_number 4 of 5

  h1 Public Parks inquiry - send a submission

  h2 Upload your submission

  form(action='evidence_10.html')
    .box
      p.title-link(onclick='showDocument();') browse your files
    br
    table#updoc(style='display:none;')
      tr
        th Description
        th Date
        th Type
        th Remove
      tr
        td My evidence
        td 04 Jul 2017
        td Word Document
        td
          img(src='../../images/remove.png' width='15px' style='vertical-align:middle;')
          a(href='#') remove submission
    br
    input.button(type='submit' value='Continue')

  br

  p
    a(href='evidence_7.html') back

  .divider-large
