extends ../../layouts/layout-submission.pug

block content
  <h1>Thank you for your submission</h1>
  <p>The committee looks at all submissions made to the inquiry. You will be emailed if your submission is published.</p>

  <h2>Updates</h2>

  <p>If you want email updates on this inquiry or the work of the committee choose from the options below.</p>

  <h3>Update me on:</h3>

  <form action="index.html">
    <div class="check-holder large"><input type="checkbox" name="chk_aims" value="evidence">&nbsp;&nbsp;&nbsp;<span class="check-text">other submissions made to the Public Parks inquiry</span></div>
    <br />
    <div class="check-holder large"><input type="checkbox" name="chk_aims" value="inquiry">&nbsp;&nbsp;&nbsp;<span class="check-text">progress of the Public Parks inquiry</span></div>
    <br />
    <div class="check-holder large"><input type="checkbox" name="chk_aims" value="committee">&nbsp;&nbsp;&nbsp;<span class="check-text">the Community and Local Government Committee’s work</span></div>
    <br /><br />
    <input type="submit" value="Finish" class="button"/>
  </form>

  <div class="divider-large"></div>
