extends ../../layouts/layout-submission.pug

block content
  <div class="status">
    <div class="sec_title">Section 4: Your submission</div>
    <div class="sec_number">4 of 5</div>
  </div>

  <h1>Public Parks inquiry - send a submission</h1>

  <h2>Write your submission</h2>

  <form action="evidence_10.html">

    <div class="box-input">
      <textarea></textarea>
      <img src="../../images/wsiwig.png" width="100%" align="absbottom" />
    </div>

    <br />
    <input type="submit" value="Continue" class="button"/>
  </form>

  <br />
  <p>&nbsp;&lt;&nbsp;<a href="evidence_7.html">back</a><p>

  <div class="divider-large"></div>
