extends ../../layouts/layout-submission.pug

block content
  <h1>Thank you</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis, sem ac tempus ullamcorper, nisi mauris consequat nisl, sit amet vulputate libero quam ac justo. Curabitur nisl ligula, posuere sed dolor et, vestibulum lacinia eros. Nunc convallis ligula id dui vestibulum, et sagittis odio efficitur.</p>

  <p class="button"><a href="index.html">continue</a></p>

  <div class="divider-large"></div>
