extends ../../layouts/layout-submission.pug

block content
  .status
    .sec_title Section 3: Contact details
    .sec_number 3 of 5

  h1 Public Parks inquiry - send a submission

  form(action='evidence_6.html')
    label(for='inp_name') Email
    input#inp_email(type='text')
    br
    label(for='inp_name') Phone
    input#inp_phone(type='text')
    br
    input.button(type='submit' value='Continue')

  br

  p
    a(href='evidence_3.html') back

  .divider-large
