extends ../../layouts/layout-submission.pug

block content
  h1 Evidence Submission Prototypes

  .container

    .box-input
      h2
        a(href='evidence_1.html' class='link') Prototype 1

    .divider

    .box-input
      h2
        a(href='evidence_form_1.html' class='link') Prototype 2
