extends ../../layouts/layout.pug

block content
  #content.section--primary
    .container
      .block.theme--success-dark
        h1 Diversity questions complete
        p.gamma Thank you
        p.delta Your answers will help us understand who is submitting evidence.

  section
    .container
      h2 Inquiry updates
      p For news and updates on the inquiry, visit the #[+link('#', 'advertising industry inquiry page')].
