extends ../../layouts/layout-beta.pug

block content
  #content.hero.theme--grey-4
    .container
      h1 Writing your petition
      p.lead Step 1 of 5

  section.section--major
    .container
      p To write your petition download and complete the petition template. 

      p We’ll ask you to upload your completed version later.

  section
    .container
      +link('../../documents/bill-petition-template.docx', 'Download template as Word document - DOCX')(class='btn--primary btn--download')
      +link('https://s3-eu-west-1.amazonaws.com/web1live.static-assets/hybrid-bills/documents/bill-petition-template.docx', 'Download template as Word document - DOCX (AWS)')(class='btn--primary btn--download')
      //+link('../../documents/bill-petition-template.odt', 'Download in alternative format')(class='btn--primary-alt btn--bordered btn--download-alt')
      
  section
    .container
      +link('../../documents/bill-petition-template.doc', 'Download template as Word document - DOC')(class='btn--primary btn--download')
      +link('https://s3-eu-west-1.amazonaws.com/web1live.static-assets/hybrid-bills/documents/bill-petition-template.doc', 'Download template as Word document - DOC (AWS)')(class='btn--primary btn--download')
      

  section.section--primary
    .container
      .box--holder__bordered
        +link('page04.html', 'Next')(class='btn--primary btn--large')

      p #[+link('page01.html', 'Back')]
