extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 Object to the HS2 bill

  section
    .container
      br
      .status--highlight
        p The deadline for petitions is 5pm on Monday 8 January 2018.

  section
    .container
      h2 Overview

      p Any individual, group of individuals, organisation or business affected by the #[+link('#', 'HS2 bill')] can object to it.

      p To find out more about the bill, visit the #[+link('#', 'HS2 bill website')].

  section
    .container
      h2 Objecting to the bill

      p To object to the HS2 bill you will need to complete our petition template.

      p We will ask for your name, address and examples of how you are affected by the bill.

      p The petition does not require any signatures.

  section
    .container
      h2 Contact details
      
      p We will ask you to tell us who should be contacted about your petition. This main contact can be you or someone else, for example a family member or a lawyer.

      p The main contact will receive all petition communications. They will usually be invited to answer questions about it in front of the HS2 Committee

  section
    .container
      h2 What happens next?

      .timeline
        h5 If your petition is accepted we will ask you to pay a £20 admin fee.

        h5 We’ll email you within 14 days about how to pay the fee.

        h5 We’ll review your petition and publish it on our website. This will include your name and address. We’ll then send it to the Department for Transport (DfT).

        h5 The DfT will email you about your petition before the committee starts discussing HS2 phase 2a petitions in Spring 2018.
      br

  section.section--major
    .container#postoption
      +link('page03.html', 'Send us your petition on our website')(class='btn--primary btn--large')
      +link('page02.html#postoption', 'Send us your petition by email, post or in person')(class='btn--primary-alt btn--large btn--bordered--large')

  section.section--major
    .container
      .container--hs-v5
        h2 Help and support

        p For more information e-mail #[+link('#', 'petition@parliament.uk')] or phone 020 7219 3000
