extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container--offset
      h1 Object to the HS2 bill

  section
    .container
      +link('page02.html', 'Next')(class='btn--primary btn--large')
