extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container--offset
      h1 Object to the HS2 bill

  section
    .container
      br
      .status--highlight
        p The deadline for petitions is 5pm on Monday 8 January 2018.

  section
    .container
      h2 Overview

      p Any individual, group of individuals, organisation or business affected by the #[+link('#', 'HS2 bill')] can object to it.

      p To find out more about the bill, visit the #[+link('#', 'HS2 bill website')].

  section
    .container
      h2 Objecting to the bill

      p To object to the HS2 bill you will need to complete our petition template.

      p We will ask for your name, address and examples of how you are affected by the bill.

      p The petition does not require any signatures.

  section
    .container
      .block--border__bottom
        h2 Contact details
        
        p We will ask you to tell us who should be contacted about your petition. This main contact can be you or someone else, for example a family member or a lawyer.

        p The main contact will receive all petition communications. They will usually be invited to answer questions about it in front of the HS2 Committee

  section
    .container
      +link('page02.html', 'Next')(class='btn--primary btn--large')
