extends ../../layouts/layout.pug

block content
  #content.section--primary
    .container
      h1 Public parks inquiry

  section
    .container
      h2 Terms of reference
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac libero urna.

  section
    .container
      h2 Submission guidelines
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac libero urna.

  section
    .container
      .block--border__bottom
        h2 Anonimity
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac libero urna.

      +buttonLink('page01.html', 'Next', 'btn--primary')
