extends ../../layouts/layout.pug

block content
  #content.section--primary.section--wide
    .container
      h1
        small #[+link('#', 'The advertising industry inquiry')]
        span Inquiry details and submission guidelines

  section
    .container
      h2 What’s the inquiry looking into?
      
      p The advertising industry inquiry has been launched by the Communications Committee. To find out what evidence the Committee is interested in, read the #[+link('https://www.parliament.uk/documents/lords-committees/communications/advertising-industry/Final-Call-for-evidence.pdf', 'advertising industry inquiry details')(target='_blank')]#[span.sr-only (This link will open in a new window)].

  section
    .container
      h2 Writing your evidence

      p Your submission should:
      ul
        li be no more than 3,000 words
        li include an introduction to yourself or your organisation and the reason for submitting evidence
        li not already be published
        li not include any confidential information

  section
    .container
      h2 Submitting your evidence

      p Your uploaded file must:
      ul
        li be less than 25MB
        li be a single Word document
        li not contain logos

      p If you want to submit evidence anonymously or do not want your evidence to be published, email #[+link('mailto:holcommunications@parliament.uk', 'holcommunications@parliament.uk')] or phone #[+link('tel:02072198662', '020 7219 8662')].

      p It is the committee's decision whether or not to publish evidence anonymously.

  section
    .container
      h2 After submitting your evidence
      
      p If your submission is accepted:
      ul
        li it is usually published online
        li it is subject to #[+link('https://www.parliament.uk/site-information/copyright-parliament/', 'parliamentary copyright')] and is protected by #[+link('https://www.parliament.uk/site-information/glossary/parliamentary-privilege/', 'parliamentary privilege')]
        li you must get permission from the clerk of the committee if you want to publish it somewhere else


  section
    .container
      h2 Have you read the inquiry details and guidelines?

      +form(action='page01.html')
        .block--border__bottom(class='open', data-toggle='item')
          +fieldset
            +radio--checkbox__inline('radio', 'guideline-check', 'guideline-check-yes', 'Yes')(data-toggle='parent-item')
            +radio--checkbox__inline('radio', 'guideline-check', 'guideline-check-no', 'No')(class='open', data-toggle='parent-item', checked, data-submit='disabled')

          div(class='open', data-toggle='content')
            br
            .status--highlight.theme--caution
              p Before you continue, read the inquiry details and submission guidelines.

        +button('Next', 'btn--primary', 'submit')
