extends ../../layouts/layout.pug

block content
  #content.hero.theme--white
    .container
      h1 Are you submitting for yourself or on behalf of someone else?
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac libero urna.

  section
    .container
      h2.typography--light Who are you submitting evidence for?
      +form(id='submitterType' action='page02-2.html')
        .block--border__bottom
          +fieldset('Who are you submitting a petition for?', 'sr-only')
            ol.list--block
              li
                +radio--checkbox__verbose('radio', 'submitter-type', 'you', 'You are submitting evidence as yourself.', 'Yourself')(data-route='page02-2.html', checked)
              li
                +radio--checkbox__verbose('radio', 'submitter-type', 'alt', 'You are submitting evidence on behalf of someone else.', 'Another Person')(data-route='page02-3.html')

        +button('Next', 'btn--primary', 'submit')

        p #[+link('page02-1.html', 'Back')]
