extends ../../layouts/layout.pug

block content
  #content.hero.theme--grey-4
    .container
      h1
        small The advertising industry inquiry
        span Diversity questions
        span.context Step 5 of 6 - question 1 of 4

      p #[+link('#', 'Back to previous page')(onclick='goBack()')]

  section
    .container
      h2.typography--light Employment
      +form(action='page06-2.html')
        .block--border__bottom
          +input--text('pro-name', 'txtProName', 'Job title (optional)')
          +input--text('pro-role', 'txtProRole', 'Company (optional)')

        +button('Next', 'btn--primary', 'submit')
