extends ../../layouts/layout.pug

block content
  #content.hero.theme--grey-4
    .container
      h1
        small The advertising industry inquiry
        span Diversity questions
        span.context Step 5 - question 1

      p #[+link('page05.html', 'Back to previous page')]

  section
    .container
      h2.typography--light Organisation size
      +form(action='page07-2.html')
        .block--border__bottom
          +fieldset('How many people are employed by this organisation?')
            .section--minor
              +radio--checkbox('radio', 'diversity-1', 'rdDiv1-1', '0 to 49')
              +radio--checkbox('radio', 'diversity-1', 'rdDiv1-2', '50 to 249')
              +radio--checkbox('radio', 'diversity-1', 'rdDiv1-3', 'Over 250')
              +radio--checkbox('radio', 'diversity-1', 'rdDiv1-4', 'Prefer not to say')

        +button('Next', 'btn--primary', 'submit')
