extends ../../layouts/layout.pug

block content
  #content.hero.theme--grey-4
    .container
      h1
        span Diversity question 3 of 3
        span.sr-only .
        span.context The advertising industry inquiry

      p #[+link('#', 'Back to previous page')(onclick='goBack()')]

  section
    .container
      h2 Organisation type
      +form(action='page07.html')
        .block--border__bottom
          +select('org-type', 'orgType', 'What is your organisation’s main line of business?')
            +option('Prefer not to say', '00')
            +option('Agriculture, Forestry and Fishing', '01')
            +option('Mining, Quarrying and Utilities', '02')
            +option('Manufacturing', '03')
            +option('Construction', '04')
            +option('Motor Trades', '05')
            +option('Wholesale', '06')
            +option('Retail', '07')
            +option('Transport and Storage (inc Postal)', '08')
            +option('Accommodation and Food Services', '09')
            +option('Information and Communication', '10')
            +option('Finance and Insurance', '11')
            +option('Property', '12')
            +option('Professional, Scientific and Technical', '13')
            +option('Business Administration and Support Services', '14')
            +option('Education', '15')
            +option('Health', '16')
            +option('Public Administration', '17')
            +option('Other', '18')

        +button('Continue', 'btn--primary', 'submit')
