extends ../../layouts/layout.pug

block content
  #content.hero.theme--grey-4
    .container
      h1
        small The advertising industry inquiry
        span Diversity questions
        span.context Step 5 of 6 - question 2 of 4

      p #[+link('#', 'Back to previous page')(onclick='goBack()')]

  section
    .container
      h2.typography--light Ethnic background
      +form(action='page06-3.html')
        .block--border__bottom
          +fieldset('Which of the following do you feel you most identify with?')
            +radio--checkbox('radio', 'diversity-2', 'rdDiv2-1', 'Opt 1')
            +radio--checkbox('radio', 'diversity-2', 'rdDiv2-2', 'Opt 2')
            +radio--checkbox('radio', 'diversity-2', 'rdDiv2-3', 'Prefer not to say')

        +button('Next', 'btn--primary', 'submit')
