extends ../../layouts/layout.pug

block content
  #content.hero.theme--grey-4
    .container
      h1
        span Diversity question 2
        span.sr-only .
        span.context The advertising industry inquiry

      p #[+link('#', 'Back to previous page')(onclick='goBack()')]

  section
    .container
      h2 Gender identity

      +form(action='page05-3.html')
        .block--border__bottom
          +fieldset('What is your gender identity?')
            .section--minor(data-dropdown='holder')
              +radio--checkbox('radio', 'diversity-2a', 'rdDiv2a-1', 'Man (including trans man)')
              +radio--checkbox('radio', 'diversity-2a', 'rdDiv2a-2', 'Woman (including trans woman)')
              +radio--checkbox('radio', 'diversity-2a', 'rdDiv2a-3', 'Other gender identity')(data-dropdown='switch')
              .indent-cv(data-dropdown-content='hide')
                +input--text('identity', 'txtIndentity', 'Specify gender identity (optional)')
              +radio--checkbox('radio', 'diversity-2a', 'rdDiv2a-4', 'Prefer not to say')

          .section--minor
            +fieldset('Is your gender identity different from the gender you were assigned at birth?')
              .section--minor
                +radio--checkbox__inline('radio', 'diversity-2b', 'rdDiv2b-1', 'Yes')
                +radio--checkbox__inline('radio', 'diversity-2b', 'rdDiv2b-2', 'No')
                +radio--checkbox__inline('radio', 'diversity-2b', 'rdDiv2b-4', 'Prefer not to say')

        +button('Continue', 'btn--primary', 'submit')
