extends ../../layouts/layout.pug

block content
  #content.hero.theme--grey-4
    .container
      h1
        span Upload your evidence
        span.sr-only .
        span.context The advertising industry inquiry

      p #[+link('#', 'Back to previous page')(onclick='goBack()')]

  section
    .container
      h2 Your uploaded file must

      ul.list--bullet
        li be less than 25MB
        li be a single Word document
        li not contain logos

      +form(action='page05-1.html', id='fileUploadFormV2')
        ol.list--pipe__deep
          li
            .card
              figure.svg--icon(data-file-upload='icon')
                  include ../../icons/file.svg
              .card__details
                h3 Upload your evidence

                +input--file('file-uploader', 'fileUpload', 'Choose file', 'btn--primary')(required, data-file-size='26214400', data-error='Please upload your file')

                p(data-file-upload='status') No file(s) selected

        +button('Continue', 'btn--primary', 'submit')(id='file-upload-check')

      .section--minor
        .block.accent--mint
          h3 Help and support
          p For more information email #[+link('mailto:holcommunications@parliament.uk', 'holcommunications@parliament.uk')] or phone #[+link('tel:02072198662', '020 7219 8662')]
