extends ../../layouts/layout.pug

block content
  #content.section--primary
    .container
      h1 Follow the progress of the inquiry
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac libero urna.
    
  section
    .container
      h2 Updates
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac libero urna.
      
      +form(action='page08.html')
        .block--border__bottom
          +fieldset
            +radio--checkbox('checkbox', 'update-1', 'update1', 'Other submissions made to the Public Parks inquiry')
            +radio--checkbox('checkbox', 'update-2', 'update2', 'Progress of the Public Parks inquiry')
            +radio--checkbox('checkbox', 'update-3', 'update3', 'The Community and Local Government Committee’s work')

        +button('Send submission', 'btn--primary', 'submit')

      p #[+link('page06-1.html', 'Back')]
