extends ../../layouts/layout.pug

block content
  #content.section--primary
    .container
      h1 
        span Diversity questions complete
        span.sr-only .
        span.context The advertising industry inquiry

      h2 Thank you
      p Your answers will help us understand who is submitting evidence.

  section
    .container
      h2 Inquiry updates
      p For news and updates on the inquiry, visit the #[+link('page01.html', 'advertising industry inquiry page')].
