<html>
  <head>
    <title>'Committees - UK Parliament'</title>
  </head>
  <body>
    <header>
    </header>
    <main>
      <h1>'Committees'</h1>
      <ol>
        <li>
          <div>
            <h2><a href='#'>[formal body]</a></h2>
            <p>[formal body type]</p>
            <p>[formal body start date] 'to' [formal body  end date] OR 'present'
          </div>
        </li>
        <li>'There are no results'</li>
      </ol>
    </main>
    <footer>
    </footer>
  </body>
</html>
