<html>
  <head>
    <title>[formal body] '- UK Parliament'</title>
  </head>
  <body>
    <header>
    </header>
    <main>
      <div>
      <h1>[formal body]</h1>
      <p>[house] [formal body type]</p>
      <div>
      <section>
        <h2>'About the committee'</h2>
        <p>[formal body description]<p>

        <h2>'Committee members'</h2>
        <ol>
          <li>
            <figure>
              <picture>
                <a href='#'>[image]</a> (placeholder image fallback)
              </picture>
            </figure>
            <div>
              <h2><a href='#'>[display name]</a></h2>
              <p>'Committee chair'</p>
              <p>[party] 'MP for' [constituency] OR [party] 'member of the House of Lords'</p>
            </div>
          </li>
        </ol>
        <p><a href='#'>'View all' [committee member count] 'committee members'</a></p>

        <h2>'Contact us'</h2>
        <dl>
          <dt>'Email:'</dt>
          <dd>[contact point email]</dd>
          <dt>'Phone:'</dt>
          <dd>[contact point phone number]</dd>
          <dt>'Address:'</dt>
          <dd>[house full address]</dd>
        </dl>
      </section>
    </main>
    <footer>
    </footer>
  </body>
</html>
