<html>
  <head>
    <title>'Members -' [formal body] '- UK Parliament'</title>
  </head>
  <body>
    <header>
    </header>
    <main>
      <h1>'Members -' [formal body]</h1>
      <ol>
        <li>
          <figure>
            <picture>
              <a href='#'>[image]</a> (placeholder image fallback)
            </picture>
          </figure>
          <div>
            <h2><a href='#'>[display name]</a></h2>
            <p>'Committee chair'</p>
            <p>[role start date] 'to' [role end date] OR 'present'
            <p>[party] 'MP for' [constituency] OR [party] 'member of the House of Lords'</p>
          </div>
        </li>
        <li>
          <figure>
            <picture>
              <a href='#'>[image]</a> (placeholder image fallback)
            </picture>
          </figure>
          <div>
            <h2><a href='#'>[display name]</a></h2>
            <p>[committee membership type] (Committee member, Alternate , Co-opted, Ex offico OR a combination)</p>
            <p>[role start date] 'to' [role end date] OR 'present'
            <p>[party] 'MP for' [constituency] OR [party] 'member of the House of Lords'</p>
          </div>
        </li>
        <li>
          <figure>
            <picture>
              [image] (with placeholder image fallback)
            </picture>
          </figure>
          <div>
            <h2>[display name] (linked to person?)</h2>
            <p>[committee membership type] (Lay committee member)</p>
            <p>[role start date] 'to' [role end date] OR 'present'
          </div>
        </li>
        <li>'There are no results'</li>
      </ol>
      <p><a href='#'>View all current committee members</a></p>
    </main>
    <footer>
    </footer>
  </body>
</html>
