<html>
  <head>
    <title>'Current members -' [formal body] '- UK Parliament'</title>
  </head>
  <body>
    <header>
    </header>
    <main>
      <h1>'Current members -' [formal body]</h1>
      <ol>
        <li>
          <figure>
            <picture>
              <a href='#'>[image]</a> (placeholder image fallback)
            </picture>
          </figure>
          <div>
            <h2><a href='#'>[display name]</a></h2>
            <p>'Committee chair'</p>
            <p>[party] 'MP for' [constituency] OR [party] 'member of the House of Lords'</p>
          </div>
        </li>
        <li>
          <figure>
            <picture>
              <a href='#'>[image]</a> (placeholder image fallback)
            </picture>
          </figure>
          <div>
            <h2><a href='#'>[display name]</a></h2>
            <p>[committee membership type]</p>
            <p>[party] 'MP for' [constituency] OR [party] 'member of the House of Lords'</p>
          </div>
        </li>
        <li>
          <figure>
            <picture>
              [image] (with placeholder image fallback)
            </picture>
          </figure>
          <div>
            <h2>[display name]</h2>
            <p>[committee membership type] (some committee members will not be members of parliament)</p>
          </div>
        </li>
      </ol>
    </main>
    <footer>
    </footer>
  </body>
</html>
