<html>
  <head>
    <title>Committee URI structure - UK Parliament</title>
  </head>
  <body>
    <main>
      <h1>Committee URI structure</h1>
      <p>The following resources have been created inline with the list of current <a href="https://github.com/ukparliament/ontologies/blob/master/urls.csv">UK Parliament URLs</a></p>
      <ol>
        <li><a href="formal-bodies.html">/groups/formal-bodies</a></li>
        <li><a href="formal-body.html">/groups/:group</a></li>
        <li><a href="group-membership.html">/groups/:group/memberships</a></li>
        <li><a href="group-membership-current.html">/groups/:group/memberships/current</a></li>
      </ol>
      <h2>
      </h2>
      <ol>
        <li>/houses/:house/</li>
      </ol>
    </main>
  </body>
</html>
