extends ../../layouts/layout.pug

block content
  #content.hero.theme--grey-4
    .container
      h1 Upload your completed template
      p.lead Step 4 of 5 - Petition the HS2 Bill

  section
    .container
      h2 File upload must:

      ul
        li Use the #[+link('#', 'downloaded template')] and #[+link('#', 'submission guidelines')]
        li 20 MB file size limit
        li Be file type: doc, docx, rtf, ooxml, odt or PDF
        li Not include images or macros

      +form('page08.html')
        +input('file', 'Upload petition', 'file-upload', 'fileUpload')(required)
          
    .container
        .theme--grey-4.block        
          h2 *Drag and drop a file here*       
        p Or #[+link('#', '*browse for a file*')]

    section
      .container
        .block--border__bottom
        .box--holder
          .box--50
            +link('page01.html', '*back*')
          .box--50
            +link('page09.html', 'Next')(class='btn--primary btn--large')
