extends ../../layouts/layout.pug

block content
  #content.hero.theme--deep-purple
    .container
      h1 Petitioning the New Motorway Bill

  section
    .container
      h2 What is the New Motorway Bill?

  section
    .container
      h2 Objecting to the bill
