extends ../../layouts/layout.pug

block content
  #content.hero.theme--deep-purple
    .container
      h1 Petitioning the New Motorway Bill
      p.lead Step 1 of 5

  section
    .container
      h2 What is the New Motorway Bill?

  section
    .container
      h2 Objecting to the bill
      
  section
    .container
      +buttonLink('page02-1.html', 'Submit a petition on our website', 'btn--primary btn--large', 'text')
      +buttonLink('page02-2.html', 'Submit a petition by email, post or in person', 'btn--primary-alt btn--large btn--bordered', 'text')
