extends ../../layouts/layout.pug

block content
  #content.hero.theme--grey-4
    .container
      h1 Send a petition on our website

  section
    .container
      p

  section
    .container
      h2 Writing your petition
      
      +buttonLink('#', 'Download guidelines (.pdf)', 'btn--mint btn--large', 'text/html')
      +buttonLink('#', 'View guidelines as webpage', 'btn--mint-alt btn--large btn--bordered', 'text/html')
