extends ../../layouts/layout.pug

block content
  #content.hero.theme--deep-purple
    .container
      h1 Petitioning the New Motorway Bill
      p.lead Step 1 of 5

  section
    .container
      h2 What is the New Motorway Bill?

  section
    .container
      h2 Objecting to the bill
      
  section
    .container
      +link('page02-1.html', 'Submit a petition on our website')(class='btn--primary btn--large')
      +link('page02-2.html', 'Submit a petition by email, post or in person')(class='btn--primary-alt btn--large btn--bordered--large')
