extends ../../layouts/layout.pug

block content
  #content.hero.theme--grey-4
    .container
      h1 Send a petition on our website

  section
    .container
      p

  section
    .container
      .block--border__bottom

        h2 Writing your petition
        
        +link('#', 'Download guidelines (.pdf)')(class='btn--mint')
        +link('#', 'View guidelines as webpage')(class='btn--mint-alt btn--bordered')
        
        +link('#', 'Download template as word document')(class='btn--mint')
        +link('#', 'Download as .otf file')(class='btn--mint-alt btn--bordered')
        
  section
    .container
      .box--holder
        .box--50
          +link('page01.html', 'back')
        .box--50
          +link('page03.html', 'Next')(class='btn--primary btn--large')
