extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 Committee Name - committee members
      
      .section--minor
        ol.list--block
          li
            figure
              a(href="#" tabindex="-1")
                picture
                  img(src="/images/placeholder_members_image.png" alt="Name")
            .list--details
              h2
                a(href="#" tabindex="-1") Name
              p Committee chair
              p Party | MP for constituency / Member of the House of Lords
          li
            figure
              a(href="#" tabindex="-1")
                picture
                  img(src="/images/placeholder_members_image.png" alt="Name")
            .list--details
              h2
                a(href="#" tabindex="-1") Name
              p Committee member
              p Party | MP for constituency / Member of the House of Lords
          li
            figure
              a(href="#" tabindex="-1")
                picture
                  img(src="/images/placeholder_members_image.png" alt="Name")
            .list--details
              h2
                a(href="#" tabindex="-1") Name
              p Committee member
              p Party | MP for constituency / Member of the House of Lords
          li
            figure
              a(href="#" tabindex="-1")
                picture
                  img(src="/images/placeholder_members_image.png" alt="Name")
            .list--details
              h2
                a(href="#" tabindex="-1") Name
              p Committee lay member
              p Role / Specialisation
