extends ../../layouts/layout.pug

block content
  .section--primary#content
    .container
      h1 Representative / Agent details

  section
    .container
      +form('#', 'post')
        +input('text', 'Full name', 'name', 'txtAgtName')
        +input('text', 'Address line 1', 'address', 'txtAgtAddress1')
        +input('text', 'Address line 2', 'address', 'txtAgtAddress2')
        +input('text', 'Post code', 'post code', 'txtAgtPostCode')
        +input('text', 'Email address', 'email', 'txtAgtEmail')
        +input('text', 'Telephone number', 'phone', 'txtAgtPhone')

        br
        p Please provide contact details for a member of the group you are representing
        
        +input('text', 'Group name (optional)', 'name', 'txtGroupName')
        +input('text', 'Full name', 'name', 'txtName')
        +input('text', 'Address line 1', 'address', 'txtAddress1')
        +input('text', 'Address line 2', 'address', 'txtAddress2')
        +input('text', 'Post code', 'post code', 'txtPostCode')
        +input('text', 'Email address', 'email', 'txtEmail')
        +input('text', 'Telephone number', 'phone', 'txtPhone')
        
        br
        p Who would you prefer to be the main point of contact for correspondence?

        +input('checkbox', 'Representative / Agent', 'contact-agt', 'chkAgentCnt')
        +input('checkbox', 'Group contact', 'contact-grp', 'chkGrpCnt')
        
        br
        +buttonLink('#', 'Next', 'btn--primary')
        p #[+link('page06.html', 'Next')]
