extends ../../layouts/layout.pug

block content
  .section--primary#content
    .container
      h1 Representative / Agent details

  section
    .container
      +form('page06.html')
        +input('text', 'Full name', 'name', 'txtAgtName')(required)
        +input('text', 'Address line 1', 'address', 'txtAgtAddress1')(required)
        +input('text', 'Address line 2', 'address', 'txtAgtAddress2')
        +input('text', 'Post code', 'post code', 'txtAgtPostCode')(maxlength='8', pattern='[0-9a-zA-Z ]{5,}', data-type='input', required)
        +input('text', 'Email address', 'email', 'txtAgtEmail')(required)
        +input('text', 'Telephone number', 'phone', 'txtAgtPhone')(maxlength='10', pattern='[0-9]', required)

        br
        p Please provide details for the organisation you are representing
        
        +input('text', 'Organisation name', 'organisation name', 'txtOrgName')(required)
        +input('text', 'Organisation Address line 1', 'address', 'txtOrgAddress1')(required)
        +input('text', 'Organisation Address line 2', 'address', 'txtOrgAddress2')
        +input('text', 'Organisation Post code', 'post code', 'txtOrgPostCode')(maxlength='8', pattern='[0-9a-zA-Z ]{5,}', data-type='input', required)

        br

        +input('text', 'Contact name', 'contact name', 'txtOrgName')(required)
        +input('text', 'Contact Email address', 'email', 'txtOrgEmail')(required)
        +input('text', 'Contact Telephone number', 'phone', 'txtOrgPhone')(maxlength='10', pattern='[0-9]', required)
        
        br
        p Who would you prefer to be the main point of contact for correspondence?

        +input('checkbox', 'Representative / Agent', 'contact-agt', 'chkAgentCnt')(checked)
        +input('checkbox', 'Organisation', 'contact-org', 'chkOrgCnt')
        
        br
        +button('Next', 'btn--primary')
        br  
        p #[+link('page06.html', 'Next Page')]
