extends ../../layouts/layout.pug

block content
  .section--primary#content
    .container
      h1 Representative / Agent details

  section
    .container
      +form('page06.html')
        +input('text', 'Full name', 'name', 'txtAgtName')(required)
        +input('text', 'Address line 1', 'address', 'txtAgtAddress1')(required)
        +input('text', 'Address line 2', 'address', 'txtAgtAddress2')
        +input('text', 'Post code', 'post code', 'txtAgtPostCode')(maxlength='8', pattern='[0-9a-zA-Z ]{5,}', data-type='input', required)
        +input('text', 'Email address', 'email', 'txtAgtEmail')(required)
        +input('text', 'Telephone number', 'phone', 'txtAgtPhone')(maxlength='10', pattern='[0-9]', required)

        br
        p Please provide contact details for a member of the group you are representing
        
        +input('text', 'Group name (optional)', 'name', 'txtGroupName')
        +input('text', 'Full name', 'name', 'txtName')(required)
        +input('text', 'Address line 1', 'address', 'txtAddress1')(required)
        +input('text', 'Address line 2', 'address', 'txtAddress2')
        +input('text', 'Post code', 'post code', 'txtPostCode')(maxlength='8', pattern='[0-9a-zA-Z ]{5,}', data-type='input', required)
        +input('text', 'Email address', 'email', 'txtEmail')(required)
        +input('text', 'Telephone number', 'phone', 'txtPhone')(maxlength='10', pattern='[0-9]', required)
        
        br
        p Who would you prefer to be the main point of contact for correspondence?

        +input('checkbox', 'Representative / Agent', 'contact-agt', 'chkAgentCnt')(checked)
        +input('checkbox', 'Group contact', 'contact-grp', 'chkGrpCnt')
        
        br
        +button('Next', 'btn--primary')
        br  
        p #[+link('page06.html', 'Next Page')]  
