extends ../../layouts/layout.pug

block content
  .section--primary#content
    .container
      h1 Petition New Motorway Bill

  section
    .container
      h2 Group of individuals details
      +form('page06.html')
        +input('text', 'Group name (optional)', 'name', 'txtGroupName')

        br
        p Please specify a representative for your group.

        +input('text', 'Full name', 'name', 'txtName')(required)
        +input('text', 'Address line 1', 'address', 'txtAddress1')(required)
        +input('text', 'Address line 2', 'address', 'txtAddress2')
        +input('text', 'Post code', 'post code', 'txtPostCode')(maxlength='8', pattern='[0-9a-zA-Z ]{5,}', data-type='input', required)
        +input('text', 'Email address', 'email', 'txtEmail')(required)
        +input('text', 'Telephone number', 'phone', 'txtPhone')(maxlength='10', pattern='[0-9]')

        br
        +button('Next', 'btn--primary')
      br
      p < #[+link('page02.html', 'Back')]
