extends ../../layouts/layout.pug

block content
  .section--primary#content
    .container
      h1 Petition New Motorway Bill

  section
    .container
      h2 Who are you submitting a petition for?
      +form(id='submitterType' action='page05-1.html')
        +fieldset
          ol.list--block
            li
              .list--details
                +input('radio', 'Individual', 'agent-submitter-type', 'Individual')(data-route='page05-1.html')(checked)
                p You are submitting a petition for one person.
            li
              .list--details
                +input('radio', 'Group of individuals', 'agent-submitter-type', 'Group of individuals')(data-route='page05-2.html')
                p You are submitting a petition for a group of people.
            li
              .list--details
                +input('radio', 'Organisation', 'agent-submitter-type', 'Organisation')(data-route='page05-3.html')
                p You are submitting a petition for an organisation.

        +button('Next', 'btn--primary')
      br
      p < #[+link('page02.html', 'Back')]
