extends ../../layouts/layout.pug

block content
  .section--primary#content
    .container
      h1 Upload petition document
      
  section
    .container
      h2 Submission upload guidelines

      ul
        li Word Document (.doc/.docx format only)
        li 2Mb file size limit
        li No other media types

  section
    .container
      h2 Upload your document
      +form('#', 'post')
        +input('file', 'Upload petition', 'file-upload', 'fileUpload')

      br
      +buttonLink('#', 'Upload', 'btn--primary')
      p #[+link('page07.html', 'Upload')]
