extends ../../layouts/layout.pug

block content
  .section--primary#content
    .container
      h1 An agent submitting on behalf of...

  section
    .container
      +form
        +fieldset('Who are you submitting on behalf of?')
          ol.list--block
            li
              .list--details
                +input('radio', 'Individual', 'agent-submitter-type', 'page05-1')(checked, value='Individual')
                p A single person...
            li
              .list--details
                +input('radio', 'Group of individuals', 'agent-submitter-type', 'page05-2')(value='Group of individuals')
                p A group of people who are affected...
            li
              .list--details
                +input('radio', 'Business / Organisation', 'agent-submitter-type', 'page05-3')(value='Business / Organisation')
                p A private organisation...

        // +button('Next', 'btn--primary')

      br
      p #[+link('page05-1.html', 'Individual')]
      p #[+link('page05-2.html', 'Group')]
      p #[+link('page05-3.html', 'Organisation')]
