extends ../../layouts/layout.pug

block content
  .section--primary#content
    .container
      h1 Petition New Motorway Bill

  section
    .container
      h2 Organisation details
      +form('page06.html')
        +input('text', 'Organisation name', 'organisation name', 'txtOrgName')(required)
        +input('text', 'Organisation Address line 1', 'address', 'txtOrgAddress1')(required)
        +input('text', 'Organisation Address line 2', 'address', 'txtOrgAddress2')
        +input('text', 'Organisation Post code', 'post code', 'txtOrgPostCode')(required)

        br
        p Please specify a representative for your organisation.

        +input('text', 'Contact name', 'contact name', 'txtOrgName')(required)
        +input('text', 'Contact Email address', 'email', 'txtOrgEmail')(required)
        +input('text', 'Contact Telephone number', 'phone', 'txtOrgPhone')

        br
        +button('Next', 'btn--primary')
      br
      p < #[+link('page02.html', 'Back')]
