extends ../../layouts/layout.pug

block content
  .section--primary#content
    .container
      h1 Petition New Motorway Bill

  section
    .container
      h2 Petitioner's details
      +form('page06.html')
        +input('text', 'Full name', 'name', 'txtName')(required)
        +input('text', 'Address line 1', 'address', 'txtAddress1')(required)
        +input('text', 'Address line 2', 'address', 'txtAddress2')
        +input('text', 'Post code', 'post code', 'txtPostCode')(maxlength='8', pattern='[0-9a-zA-Z ]{5,}', data-type='input', required)
        +input('text', 'Email address', 'email', 'txtEmail')(required)
        +input('text', 'Telephone number', 'phone', 'txtPhone')(maxlength='10', pattern='[0-9]', required)
        br
        +input('checkbox', 'Do you have a representative?', 'agent-rep', 'toggleContent')
        
        #contentPane
          h2 Representative's details

          +input('text', 'Full name', 'name', 'txtAgtName')
          +input('text', 'Address line 1', 'address', 'txtAgtAddress1')
          +input('text', 'Address line 2', 'address', 'txtAgtAddress2')
          +input('text', 'Post code', 'post code', 'txtAgtPostCode')(maxlength='8', pattern='[0-9a-zA-Z ]{5,}', data-type='input')
          +input('text', 'Email address', 'email', 'txtAgtEmail')
          +input('text', 'Telephone number', 'phone', 'txtAgtPhone')(maxlength='10', pattern='[0-9]')
          
          br
          p Who should be contacted about this petition?

          +input('checkbox', 'You', 'contact-ind', 'chkIndCnt')(checked)
          +input('checkbox', 'Your representative', 'contact-agt', 'chkAgentCnt')
        
        br  
        p #[+link('page06.html', 'Next')(class='btn--primary')]  
