extends ../../layouts/layout.pug

block content
  .section--primary#content
    .container
      h1 Petition New Motorway Bill
      
  section
    .container
      h2 Thank you for your submission.
      p Your reference number is 123xyz

  section
    .container
      h2 What happens next?
      ol     
        li Your petition submission will checked and verified.
        li A request for payment will be emailed to you.
        li You will be required to make your payment.
        li The Government department will contact you.

  section
    .container
      h2 Updates
      +form('../index.html')
        +input('checkbox', 'Give me updates on the New Motorway Bill', 'updates', 'toggleContent')
        #contentPane
          br
          +input('text', 'Email address', 'email', 'txtUptEmail')
      br
      p #[+link('../index.html', 'Finish')(class='btn--primary')]
