extends ../../layouts/layout-beta.pug

block content
  #content.hero.theme--grey-4
    .container
      h1 Petition online
        span.sr-only.
        span Object to Additional Provision 1 of the High Speed Rail (West Midlands to Crewe) Bill

      h2.typography--light Step 2 of 5

  section
    .container
      h2 Who are you submitting a petition for?
      +form(id='submitterType' action='page05-1.html')
        .block--border__bottom
          +fieldset
            ol.list--block
              li
                .list--details
                  .input-group__verbose
                    input(type='radio', value='Individual', name='submitter-type', id='ind', data-route='page05-1.html', checked)
                    label(for='ind') Individual
                  p You are submitting a petition for one person.
              li
                .list--details
                  .input-group__verbose
                    input(type='radio', value='Group of individuals', name='submitter-type', id='grp', data-route='page05-2.html')
                    label(for='grp') Group of individuals
                  p You are submitting a petition for a group of people.

            ol.list--block
              li
                .list--details
                  .input-group__verbose
                    input(type='radio', value='Organisation', name='submitter-type', id='org', data-route='page05-3.html')
                    label(for='org') Organisation
                  p You are submitting a petition for a business or organisation.
              li
                .list--details
                  .input-group__verbose
                    input(type='radio', value='Group of organisations', name='submitter-type', id='orgs', data-route='page05-4.html')
                    label(for='orgs') Group of organisations
                  p You are submitting a petition for a group of businesses or organisations.

        +button('Next', 'btn--primary', 'submit')

        p #[+link('page03.html', 'Back')]
