extends ../../layouts/layout.pug

block content
  .section--primary#content
    .container
      h1 Petition New Motorway Bill

  section
    .container
      h2 Organisation details
      +form('page07.html')
        +input('text', 'Organisation name', 'organisation name', 'txtOrgName')(required)
        +input('text', 'Address line 1', 'address', 'txtOrgAddress1')(required)
        +input('text', 'Address line 2', 'address', 'txtOrgAddress2')
        +input('text', 'Post code', 'post code', 'txtOrgPostCode')(required)

        h3 Organisation representative's details
        p Please choose a representative from within your business or organisation.

        +input('text', 'Name', 'contact name', 'txtOrgName')(required)
        +input('text', 'Email', 'email', 'txtOrgEmail')(required)
        +input('text', 'Phone', 'phone', 'txtOrgPhone')

        br
        +button('Next', 'btn--primary')
      br
      p < #[+link('page03.html', 'Back')]
