extends ../../layouts/layout.pug

block content
  #content.hero.theme--grey-4
    .container
      h1 Petition the Motorway Bill

  section
    .container
      h2 How to petition a bill




          
          p < #[+link('page02.html', 'Back')]
