extends ../../layouts/layout.pug

block content
  .section--primary#content
    .container
      h1 Petition New Motorway Bill

  section
    .container
      h2 Group of individuals details
      +form('page07.html')
        +input('text', 'Group name (optional)', 'name', 'txtGroupName')

        br
        p Please specify a representative for your group.

        +input('text', 'Full name', 'name', 'txtName')(required)
        +input('text', 'Address line 1', 'address', 'txtAddress1')(required)
        +input('text', 'Address line 2', 'address', 'txtAddress2')
        +input('text', 'Post code', 'post code', 'txtPostCode')(required)
        +input('text', 'Email address', 'email', 'txtEmail')(required)
        +input('text', 'Telephone number', 'phone', 'txtPhone')

        br
        +button('Next', 'btn--primary')
      br
      p < #[+link('page03.html', 'Back')]
