extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 Joint Committee on Human Rights - committee members
      
      .section--minor
        ol.list--block
          li
            figure
              a(href="#" tabindex="-1")
                picture
                  img(src="https://api.parliament.uk/Staging/photo/ZY0Mx1bp.jpeg?crop=CU_1:1&width=186&quality=80" alt="Ms Harriet Harman")
            .list--details
              h2
                a(href="#") Ms Harriet Harman
              p Committee chair
              p Labour MP for Camberwell and Peckham
          li
            figure
              a(href="#" tabindex="-1")
                picture
                  img(src="https://api.parliament.uk/Live/photo/rOFP6feZ.jpeg?crop=CU_1:1&width=186&quality=80" alt="Fiona Bruce")
            .list--details
              h3
                a(href="#") Fiona Bruce
              p Committee member
              p Conservative MP for Congleton
          li
            figure
              a(href="#" tabindex="-1")
                picture
                  img(src="https://api.parliament.uk/Live/photo/c4aDmpMV.jpeg?crop=CU_1:1&width=186&quality=80" alt="Ms Karen Buck")
            .list--details
              h3
                a(href="#") Ms Karen Buck
              p Committee member
              p Labour MP for Westminster North
          li
            figure
              a(href="#" tabindex="-1")
                picture
                  img(src="https://api.parliament.uk/Live/photo/mtMsc1vM.jpeg?crop=CU_1:1&width=186&quality=80" alt="Alex Burghart")
            .list--details
              h3
                a(href="#") Alex Burghart
              p Committee member
              p Conservative MP for Brentwood and Ongar
          li
            figure
              a(href="#" tabindex="-1")
                picture
                  img(src="/images/placeholder_members_image.png" alt="Joanna Cherry")
            .list--details
              h3
                a(href="#") Joanna Cherry
              p Committee member
              p Scottish National Party MP for Edinburgh South West
          li
            figure
              a(href="#" tabindex="-1")
                picture
                  img(src="/images/placeholder_members_image.png" alt="Name")
            .list--details
              h2
                a(href="#") Peter Griffin
              p ExOfficio committee member
          li
            figure
              a(href="#" tabindex="-1")
                picture
                  img(src="/images/placeholder_members_image.png" alt="Baroness Hamwee")
            .list--details
              h3
                a(href="#") Baroness Hamwee
              p Committee member
              p Liberal Democrat member of the House of Lords
          li
            figure
              a(href="#" tabindex="-1")
                picture
                  img(src="/images/placeholder_members_image.png" alt="Name")
            .list--details
              h2
                a(href="#") Stan Marsh
              p Lay committee member
          li
            figure
              a(href="#" tabindex="-1")
                picture
                  img(src="/images/placeholder_members_image.png" alt="Name")
            .list--details
              h2
                a(href="#") Marge Simpson
              p Co-opted committee member
          li
            figure
              a(href="#" tabindex="-1")
                picture
                  img(src="/images/placeholder_members_image.png" alt="Baroness Hamwee")
            .list--details
              h3
                a(href="#") Lord Trimble
              p Committee member
              p Conservative member of the House of Lords
          li
            figure
              a(href="#" tabindex="-1")
                picture
                  img(src="/images/placeholder_members_image.png" alt="Name")
            .list--details
              h2
                a(href="#") Leela Turanga
              p Alternative committee member
