extends ../../layouts/layout.pug

block content
  #content
    .section
      .container
        h1 Form Test

        +form('index.html', 'post')
          +input--text('first-name', 'txtFirstName', 'First name(s)')(required, data-error='Please enter a first name')
          +input--text('last-name', 'txtLastName', 'Last name')(required, data-error='Please enter a last name')
          +input--validate('email', 'email', 'txtEmail', '[^@]+@[^@]+\\.[^@]+', null, 'Email', null)(data-error='Please enter a valid email address')
          +input--validate('text', 'telephone', 'txtPhone', null, '15', 'Phone', null)(data-error='Please enter a valid phone number')
          +input--validate('text', 'post-code', 'txtPostcode', '[0-9a-zA-Z ]{5,}', '8', 'Post code', null)(data-error='Please enter a valid post code')

          label(for='txtComment') Leave a comment
          textarea(id='txtComment', required, data-error='Please leave a comment')

          +fieldset('Age range?')
            +radio--checkbox__inline('radio', 'diversity-age', 'rdAge1', '18+')
            +radio--checkbox__inline('radio', 'diversity-age', 'rdAge2', '30+')
            +radio--checkbox__inline('radio', 'diversity-age', 'rdAge3', '45+')
            +radio--checkbox__inline('radio', 'diversity-age', 'rdAge4', 'Prefer not to say')(checked)

          +fieldset('Gender?')
            +radio--checkbox__inline('radio', 'diversity-gender', 'rdGen1', 'Male')
            +radio--checkbox__inline('radio', 'diversity-gender', 'rdGen2', 'Female')
            +radio--checkbox__inline('radio', 'diversity-gender', 'rdGen3', 'Prefer not to say')(checked)
          
          label(for='selContMeth') How do you wish to be contacted?
          select(name='contact-select', id='selContMeth', required, data-error='Please choose a method of contact')
            option(value='', disabled, selected) -- select option --
            option(value='Email') Email
            option(value='Phone') Phone

          +fieldset('Accept terms and conditions')
            +radio--checkbox('checkbox', 'terms', 'chkTerms', 'I accept the terms and conditions')(required, data-error='Please accept the terms and conditions')

          .section--major
            +button('Submit', 'btn--primary', 'submit')
