extends ../../layouts/layout.pug

block content
  #content.hero.theme--grey-4
    .container
      h1
        small #[+link('#', 'The advertising industry inquiry')]
        span Upload your evidence
        span.context Step 4

  section
    .container
      h2 Your uploaded file must

      ul.list--bullet
        li be less than 25MB
        li be a single Word document (doc, docx, rtf, txt ooxml or odt format)
        li not be a pdf or Excel file
        li not contain logos

      .section--minor
        +form(action='page06-1.html')(id='fileUploadForm')
          ol.list--pipe__deep
            li
              .card
                figure.svg--icon(data-file-upload='icon')
                    include ../../icons/file.svg
                .card__details
                  h3 Upload your evidence

                  +input--file('file-uploader', 'fileUpload', 'Choose file', 'btn--primary')
                  //-(required, data-file-size='26214400', data-error='Please upload your file')

                  p(data-file-upload='status') No file(s) selected

          +button('Next', 'btn--primary', 'submit')(id='file-upload-check')

          p #[+link('page04.html', 'Back')]

      .section--minor
        .block.accent--mint
          h3 Help and support
          p For more information email #[+link('mailto:holcommunications@parliament.uk', 'holcommunications@parliament.uk')] or phone #[+link('tel:02072198662', '020 7219 8662')]
