extends ../../layouts/layout.pug

block content
  #content.hero.theme--grey-4
    .container
      h1
        span Organisation diversity questions
        span.sr-only
          | .
        span.context The advertising industry inquiry

      h2.typography--light Step 5
  
  section.section--major
    .container

      p Before completing your submission, complete the diversity questions below.

      +form(action='page07-3.html')
        .block--border__bottom

          .section--minor

          .section--minor
            +fieldset('Question 2')
              +radio--checkbox__inline('radio', 'diversity-2', 'rdDiv2-1', 'Opt 1')
              +radio--checkbox__inline('radio', 'diversity-2', 'rdDiv2-2', 'Opt 2')
              +radio--checkbox__inline('radio', 'diversity-2', 'rdDiv2-3', 'Prefer not to say')(checked)

        +button('Next', 'btn--primary', 'submit')

      p #[+link('page07-1.html', 'Back')]
