extends ../../layouts/layout.pug

block content
  #content.hero.theme--grey-4
    .container
      h1
        small #[+link('#', 'The advertising industry inquiry')]
        span Individual diversity questions
        span.context Step 5 - Question 1

  section
    .container
      h2.typography--light Employment
      +form(action='page06-2.html')
        .block--border__bottom
          +input--text('pro-name', 'txtProName', 'Job title (optional)')
          +input--text('pro-role', 'txtProRole', 'Company (optional)')

        +button('Next', 'btn--primary', 'submit')
        
      p #[+link('page05.html', 'Back')]
