extends ../../layouts/layout.pug

block content
  #content.hero.theme--grey-4
    .container
      h1
        small #[+link('#', 'The advertising industry inquiry')]
        span Individual diversity questions
        span.context Step 5 - Question 3

  section
    .container
      h2.typography--light Gender identity

      +form(action='page06-4.html')
        .block--border__bottom
          +fieldset('What is your gender identity?')
            .section--minor(data-toggle='item')
              +radio--checkbox('radio', 'diversity-3a', 'rdDiv3a-1', 'Man (including trans man)')
              +radio--checkbox('radio', 'diversity-3a', 'rdDiv3a-2', 'Woman (including trans woman)')
              +radio--checkbox('radio', 'diversity-3a', 'rdDiv3a-3', 'Other gender identity')(data-toggle='parent-item')
              .indent-cv(data-toggle='content')
                +input--text('identity', 'txtIndentity', 'Specify gender identity (optional)')
              +radio--checkbox('radio', 'diversity-3a', 'rdDiv3a-4', 'Prefer not to say')

          .section--minor
            +fieldset('Is your gender identity different from the gender you were assigned at birth?')
              .section--minor
                +radio--checkbox__inline('radio', 'diversity-3b', 'rdDiv3b-1', 'Yes')
                +radio--checkbox__inline('radio', 'diversity-3b', 'rdDiv3b-2', 'No')
                +radio--checkbox__inline('radio', 'diversity-3b', 'rdDiv3b-4', 'Prefer not to say')

        +button('Next', 'btn--primary', 'submit')
        
      p #[+link('page06-2.html', 'Back')]
