extends ../../layouts/layout.pug

block content
  #content.hero.theme--grey-4
    .container
      h1
        span Submit evidence online
        span.sr-only
          | .
        span.context The advertising industry inquiry

      h2.typography--light Step 1

  section
    .container
      h2.typography--light Who are you submitting evidence for?
      +form('page02.html', '')(id='submitterType', data-evidence='form')
        .block--border__bottom
          +fieldset('Who are you submitting evidence for?', 'sr-only')
            ol.list--block
              li
                +radio--checkbox__verbose('radio', 'submitter-type', 'ind', 'You are submitting evidence for one person.', 'Individual')(data-route='page02.html', checked)
              li
                +radio--checkbox__verbose('radio', 'submitter-type', 'org', 'You are submitting evidence for a business or an organisation.', 'Organisation')(data-route='page03.html')

        +button('Next', 'btn--primary', 'submit')

        p #[+link('index.html', 'Back')]
