extends ../../layouts/layout-timeline.pug

block content
  h1 Committee Inquiry Activities Prototypes

  .container
    .box
      h2
        a(href='prototype_one.html' class='link') Prototype 1

    .divider

    .box
      h2
        a(href='prototype_two.html' class='link') Prototype 2

    .divider

    .box
      h2
        a(href='prototype_three.html' class='link') Prototype 3
