extends ../../layouts/layout-timeline.pug

block content
  h1 Robotics and artificial intelligence inquiry
  
  p.status Inquiry closed
  
  h2 Activity feed
  
  p The Science and Technology Committee is undertaking an inquiry into robotics and artificial intelligence. Robotics and Autonomous Systems (RAS) is one of the &apos;Eight Great Technologies&apos; identified by the UK Government in 2012. A national strategy for RAS innovation from a &apos;RAS Special Interest Group&apos; was published by Innovate UK in 2014.

  h2 Latest activity

  .container
    .box
      .icon
        .date
          p 28 Nov 2016
      .content
        h3 Government response published
        p The Government agrees that Robotics and Autonomous Systems (RAS) is an area that requires improved strategic co-ordination and leadership given its complexity and diversity.
        p.button Review Government response

    .divider

    .box
      .icon
        .date
          p 03 Nov 2016
      .content
        h3 Letter from Alan Turing Institute on a &lsquo;Commission on Artificial Intelligence&rsquo;
        p Sir Alan Wilson from The Alan Turing Institute writes a letter to the The Science and Technology Committee in response to the report published from the Robotics and artificial intelligence inquiry.
        p.button Review full document

    .divider

    .box
      .icon
        .date
          p 12 Oct 2016
      .content
        h3 Government thinking on AI and robotics needs reboot
        p Advances in robotics and Artificial Intelligence (AI) hold the potential to fundamentally reshape the way we live and work.
        div(style='display:none;')
          p Yet the Government does not yet have a strategy for developing the new skills citizens will need to flourish in a world where Artificial Intelligence is more prevalent, or responding to the social and ethical dilemmas it poses, concludes the Science and Technology Committee report.
          p.button Review committee report

        p.slider-link show more

    .divider

    .box
      .icon
        .date
          p 02 July 2016
      .content
        h3 Oral evidence published
        p Academics from UCL and Oxford University questioned on current and future developments in robotics and artificial intelligence.
        p.button Review evidence session

    .divider

    .box
      .icon
        .date
          p 28 Jun 2016
      .content
        h3 Advances in robotics and AI impact on UK jobs market examined
        p Academics from UCL and Oxford University questioned on implications that advances in robotics and AI may have on the UK workforce and jobs market, as well as UK productivity.
        p.button Review article

    .divider

    .box
      .icon
        .date
          p 03 Jun 2016
      .content
        h3 Written evidence published
        p 15 pieces of written evidence published by the Science and Technology Committee.
        p.button Review all evidence

    .divider

    .box
      .icon
        .date
          p 28 May 2016
      .content
        h3 Oral evidence published
        p Specialists from The Royal Society and Research Councils UK questioned on current and future developments in robotics and artificial intelligence.
        p.button Review evidence session

    .divider

    .box
      .icon
        .date
          p 24 May 2016
      .content
        h3 Robotics and artificial intelligence examined with academic experts
        p Specialists from The Royal Society and Research Councils UK questioned on current and future developments in robotics and artificial intelligence.
        p.button Review article

    .divider

    .box
      .icon
        .date
          p 03 May 2016
      .content
        h3 Written evidence published
        p 47 pieces of written evidence published by the Science and Technology Committee.
        p.button Review all evidence

    .divider

    .box
      .icon
        .date
          p 24 Mar 2016
      .content
        h3 Robotics and artificial intelligence inquiry launched
        p The Science and Technology Committee is undertaking an inquiry into robotics and artificial intelligence.
        p.button Review terms of reference

    .divider

    p.backtop
      a(href='#top' title='Back to top') back to top

    .divider-large
