extends ../../layouts/layout-timeline.pug

block content
  h1 Robotics and artificial intelligence inquiry

  p.status Inquiry closed

  h2 Activity feed

  p The Science and Technology Committee is undertaking an inquiry into robotics and artificial intelligence. Robotics and Autonomous Systems (RAS) is one of the 'Eight Great Technologies' identified by the UK Government in 2012. A national strategy for RAS innovation from a 'RAS Special Interest Group' was published by Innovate UK in 2014.

  h2 Latest activity

  .container

    .box
      .icon
        .date
          p 28 Nov 2016
      .content
        h3.title-link Government response published
        p The Government agrees that Robotics and Autonomous Systems (RAS) is an area that requires improved strategic co-ordination and leadership given its complexity and diversity.

    .divider

    .box
      .icon
        .date
          p 03 Nov 2016
      .content
        h3.title-link Letter from Alan Turing Institute on a ‘Commission on Artificial Intelligence’
        p Sir Alan Wilson from The Alan Turing Institute writes a letter to the The Science and Technology Committee in response to the report published from the Robotics and artificial intelligence inquiry.

    .divider

    .box
      .icon
        .date
          p 12 Oct 2016
      .content
        h3.title-link Report: Government thinking on AI and robotics needs reboot
        p Advances in robotics and Artificial Intelligence (AI) hold the potential to fundamentally reshape the way we live and work.

    .divider

    .box
      .icon
        .date
          p 02 July 2016
      .content
        h3.title-link Evidence session transcripts published
        p Transcripts are now available from the evidence session held with academics from University College London and Oxford University.

    .divider

    .box
      .icon
        .date
          p 28 Jun 2016
      .content
        h3.title-link Evidence Session: Advances in robotics and AI impact on UK jobs market examined
        p Academics from University College London and Oxford University questioned on implications that advances in robotics and AI may have on the UK workforce and jobs market, as well as UK productivity.

    .divider

    .box
      .icon
        .date
          p 03 Jun 2016
      .content
        h3.title-link Written evidence published
        p 15 pieces of written evidence published by the Science and Technology Committee.

    .divider

    .box
      .icon
        .date
          p 28 May 2016
      .content
        h3.title-link Evidence session transcripts published
        p Transcripts are now available from the evidence session held with specialists from The Royal Society and Research Councils UK.

    .divider

    .box
      .icon
        .date
          p 24 May 2016
      .content
        h3.title-link Evidence Session: Robotics and AI examined with academic experts
        p Specialists from The Royal Society and Research Councils UK questioned on current and future developments in robotics and artificial intelligence.

    .divider

    .box
      .icon
        .date
          p 03 May 2016
      .content
        h3.title-link Written evidence published
        p 47 pieces of written evidence published by the Science and Technology Committee.

    .divider

    .box
      .icon
        .date
          p 24 Mar 2016
      .content
        h3.title-link Robotics and artificial intelligence inquiry launched
        p The Science and Technology Committee is accepting written submissions and wants to hear from you by Friday 29th April 2016.

    .divider

    p.backtop
      a(href='#top' title='Back to top') back to top

    .divider-large
